.suculenta-conteudo{
    background-image: url(https://cdn.modrinth.com/data/fptvQsGX/f550297d81de8ad7c35a2cba1125b22faede8c36.png);
    background-size: 15%;  
}

.suculenta-conteudo__caixa{
    margin: 5% 10%;
    background-color: #fa7c7c;
    border-radius: 4em;
    text-align: center;
}

.suculenta-conteudo__imagem{
    margin: 0% 10% 0 10%;
    width: 50%;
    border-radius: 2em;
}

.suculenta-conteudo__imagem-foto{
    margin: 5% 10% 0 10%;
    width: 80%;
    border-radius: 2em;
}

.suculenta-conteudo__titulo{
    width: 35%;
}

.suculenta-conteudo__texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    text-align: start;
    margin: 0 10%;
    margin-bottom: 3%;
}

.suculenta-conteudo__caixa__cenarios{
    text-align: center;
    width: 100%;
    padding-bottom: 3%;
}

.suculenta-conteudo__cenario{
    width: 40%;
    border-radius: 2em;
    border: #5f3717 5px outset;
}
