.cactus-roda-pe{
    background-image: url(https://th.bing.com/th/id/OIP.Mn23OzHOJGfBcsdfXCLFpgAAAA?w=398&h=400&rs=1&pid=ImgDetMain);
    background-size: 15%;
    width: 100%;
    display: flex;
}

.cactus-roda-pe__primeiro-container{
    text-align: center;
    width: 100%;
    padding: 1%;
}

.cactus-roda-pe__icone{
    width: 20%;
    margin: 5% 0% 5% 5%;
}

.cactus-roda-pe__logo{
    width: 55%;
    margin: 5% 0;
}

.cactus-roda-pe__segundo-container{
    margin: 5%;
    text-align: center;
    width: 100%;
}

.cactus-roda-pe__link{
    width: 12%;
    border-radius: 1em;
    border: 2px solid rgb(255, 230, 0);
}

.cactus-roda-pe__link-x{
    width: 11%;
    border-radius: 1em;
    border: 2px solid rgb(255, 230, 0);
}