.tec-menu-container {
    position: fixed;
    top: 20%;
    right: 10px;
    transform: translateY(-50%);
}

.tec-menu-button {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.tec-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 5px;
    background-color: #f9f9f900;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    z-index: 1;
    flex-direction: column;
}

.tec-dropdown-content img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.tec-dropdown-content img:hover {
    background-color: #dddddd18;
    border-radius: 1em;
}