.roda-pe{
    background-image: url(https://th.bing.com/th/id/R.2e762d36bbca4dd5ae102ccea1c04595?rik=Gb6VnFFMXgGzdQ&pid=ImgRaw&r=0);
    background-size: 15%;
    width: 100%;
    display: flex;
}

.roda-pe__primeiro-container{
    text-align: center;
    width: 100%;
    padding: 1%;
}

.roda-pe__icone{
    width: 20%;
    margin: 5% 0% 5% 5%;
}

.roda-pe__logo{
    width: 55%;
    margin: 5% 0;
}

.roda-pe__segundo-container{
    margin: 5%;
    text-align: center;
    width: 100%;
}

.roda-pe__link{
    width: 12%;
    border-radius: 1em;
    border: 2px solid black;
}

.roda-pe__link-x{
    width: 11%;
    border-radius: 1em;
    border: 2px solid black;
}